# ===================================
# Immich
# ===================================
# You can find documentation for all the supported env variables at https://immich.app/docs/install/environment-variables
# The location where your uploaded files are stored
UPLOAD_LOCATION=/mnt/18tb-exo/pictures
# The location where your database files are stored
DB_DATA_LOCATION=./config/postgres

IMMICH_VERSION=release

# Connection secret for postgres.
DB_PASSWORD=''

# The values below this line do not need to be changed
###################################################################################
DB_USERNAME=postgres
DB_DATABASE_NAME=immich


# ===================================
# Purgarr stuff
# ===================================
QBIT_URL=vpn:8080
SONARR_URL=sonarr:8989
RADARR_URL=radarr:7878

# ===================================
# Generic config
# ===================================
PUID=1000
PGID=1000
TZ=Europe/Amsterdam

HOST=
EMAIL=

JELLYFIN_API_KEY=
IMMICH_API_KEY=
QBIT_USER=
QBIT_PASSWORD=
SONARR_API_KEY=
RADARR_API_KEY=
PROWLARR_API_KEY=
TDARR_API_KEY=

# ===================================
# Mealie
# ===================================
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# ===================================
# Materialious
# ===================================
COOKIE_SECRET=

# ===================================
# mijn.host
# ===================================
MIJNHOST_API_KEY=

# ===================================
# Traefik
# ===================================
TRAEFIK_USER=
TRAEFIK_PASSWORD=''
CROWDSEC_LAPI_KEY=

# ===================================
# curseforge api key
# ===================================
CF_API_KEY=''

# ===================================
# Watchtower
# ===================================
NOTIFICATION_URI='signal://signal-cli:8080/+31<number>/<group_id>?disabletls=yes'
