letsencrypt/
transcode_cache/
.env

config/*
!config/crowdsec/
config/crowdsec/*
!config/crowdsec/acquis.yaml
!config/crowdsec/parsers/
config/crowdsec/parsers/*
!config/crowdsec/parsers/s02-enrich/
config/crowdsec/parsers/s02-enrich/*
!config/crowdsec/parsers/s02-enrich/custom-whitelists.yaml

cache/
log/
data/

!.gitignore
